


/*内容1*/
.bgcb{
    background-color: #333333;
    width: 622px;
    height: 558px;
}
.w574{
    width: 574;
    height: 65;
    margin-left: 40px;
    line-height: 30px;

}
.p3{
    margin-left: 40px;
}


/*  图文快讯*/
.mid{
    background-color: #333333;
    width: 100%;
    height: 34px;

}

.imgT{
    margin-left: 800px;
    padding-top: 3px;
}


.w238{
    width: 238px;
    margin-top: 10px;
}


.Pmin{
    padding-top: 50px;
}
.Pmin1{
    padding-top: 30px;
}

